*/bin/**
*/obj/**
*/node_modules/**
*/.angular/**
*/wwwroot/**

.npmrc
.idea

appsettings.json
appsettings.Debug.json
appsettings.Release.json
appsettings.extra.json

*.user
*.log
*.binlog
*.Production.json