<h1>Login</h1>

<div>
  <p>Username:</p>
  <input class="form-control" type="text" placeholder="Username" #name [(ngModel)]="userName" />
  <br/>
  <p>Password:</p>
  <input class="form-control" type="password" placeholder="Password" #pswd [(ngModel)]="password" />
  <br/>

  <p *ngIf="status!=''">{{status}}</p>

  <div *ngIf="status==''">
    <br/>
    <button class="col-sm-3 btn btn-primary" (click)="login()">
      <span class="glyphicon glyphicon-share-alt">&nbsp;</span>Login
    </button>

    <button class="col-sm-3 btn btn-warning pull-right" (click)="resetpassword()">
      <span class="glyphicon glyphicon-share-alt">&nbsp;</span>Reset Wachtwoord
    </button>
  </div>
</div>
