<h1>Gerecht Types</h1>

<div class="row grid" *ngIf="value">
  <div class="col-xs-3 category" *ngFor="let categorie of value; let i = index">
    <app-icon [index]="categorie.iconIndex" (click)="changeCategorie(i)" /><br />{{categorie.naam}}
  </div>
</div>
<div class="row">
  <input class="col-xs-12" type="text" #categorie placeholder="Categorie naam" [(ngModel)]="newCategorieName" />
</div>
<div class="row grid">
  <app-icon class="choice" *ngFor="let item of [].constructor(maxIcon); let i = index" [index]="i" [color]="iconColor[i]" (click)="addCategorie(i)"></app-icon>
</div>
<div class="row">
  <button class="col-sm-3 btn btn-primary" [disabled]="true == disableSave" (click)="saveCategorieen()">
    <span class="glyphicon glyphicon-share-alt">&nbsp;</span>Bewaar
  </button>
</div>