<div class="col-xs-12" *ngIf="value">
  <div class="row">
    <p>Naam:</p>
    <input class="form-control" type="text" placeholder="Wat is de naam van het gerecht?" #name [(ngModel)]="value.gerecht.name" />
    <br/>
  </div>
  <div class="row">
    <p>Categorieën</p>
  </div>
  <div class="row">
    <app-select-categorie [value]="value.categorieen"></app-select-categorie>
  </div>
  <div class="row">
    <p>Ingrediënten:</p>
  </div>
  <div class="row">
    <app-edit-hoeveelheden [value]="value.hoeveelheden" [(cachedLists)]="cachedLists"></app-edit-hoeveelheden>
  </div>
  <div class="row">
    <br/>
  </div>
  <div class="row">
    <p>Bereidingsduur (minuten):</p>
    <input class="col-xs-2" type="number" min="0" max="1440" placeholder="Minuten" #minutes [(ngModel)]="value.gerecht.minutes" />
  </div>
  <div class="row">
    <br/>
  </div>
  <div class="row">
    <p>Bereidingswijze:</p>
    <textarea class="col-xs-12" placeholder="Hoe maak je het gerecht?" rows="20" #description [(ngModel)]="value.gerecht.description"></textarea>
  </div>
  <div class="row">
    <br/>
  </div>
  <div class="row">
    <button class="col-sm-3 btn btn-default btn-primary" (click)="save()">
      <span class="glyphicon glyphicon-share-alt">&nbsp;</span>Bewaar
    </button>
  </div>
</div>