<h1>Change Password</h1>

<div>
  <p>Username:</p>
  <input class="form-control" type="text" placeholder="Username" #name [(ngModel)]="userName" />
  <br/>
  <p>Password:</p>
  <input class="form-control" type="password" placeholder="Password" #name [(ngModel)]="password" />
  <br/>
  <p>Confirm Password:</p>
  <input class="form-control" type="password" placeholder="Confirm Password" #name [(ngModel)]="confirmPassword" />
  <br/>

  <button class="btn btn-primary no-padding" (click)="changePassword()">
    <span class="glyphicon glyphicon-share">&nbsp;</span>Change Password
  </button>
</div>
